<div class="cc-page">
  <ng-container *ngIf="pageConfig && projectConfig">
    <h1 [style.margin]="0">{{pageConfig.pageName}}</h1>
    <ng-container *ngFor="let element of pageConfig.elements">
      <app-ccelement [elementConfig]="element"></app-ccelement>
    </ng-container>
  </ng-container>
</div>



<div class="cc-page">
  <ng-container *ngIf="pageConfig && projectConfig">
    <h1 [style.margin]="0">{{pageConfig.pageName}}</h1>
    <ng-container *ngFor="let element of pageConfig.elements">
      <app-ccelement [elementConfig]="element"></app-ccelement>
    </ng-container>
  </ng-container>
</div>
