<div class="cc-page">
  <ng-container *ngIf="pageConfig && projectConfig">
    <h1 [style.margin]="0">{{pageConfig.pageName}}</h1>
    <nav class="cc-nav">
      <ng-container *ngFor="let page of projectConfig.pages">
        <ng-container *ngIf="page.inMenu !== 'false'">
          <div class="cc-nav-item">
            <div [routerLink]="page.pagePath">{{page.pageName}}</div>
          </div>
        </ng-container>
      </ng-container>
    </nav>
    <ng-container *ngFor="let element of pageConfig.elements">
      <app-ccelement [elementConfig]="element"></app-ccelement>
    </ng-container>
  </ng-container>
</div>
